@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



.fa{
    /*color: rgb(197, 18, 18);*/
    /*color: #BBBBBB;*/

}
.fa:hover{
  color: #db1717;
  
}

.fam:hover{
  color:#db1717;
}



.navbar{
    /*background-color: #15222B;*/
    /*background-color: #2F4F4F*/
    background-color: #1A1A1A;
}
  
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 34px;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

/*End of navbar*/
/*Accordion*/

.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 0px auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px; /**/
}
.accordion ul li:nth-child(1) {
  background-image: url('http://michael-ferry.com/assets/accordion1.jpg');
}
.accordion ul li:nth-child(2) {
  background-image: url('http://michael-ferry.com/assets/accordion2.jpg');
}
.accordion ul li:nth-child(3) {
  background-image: url('http://michael-ferry.com/assets/accordion3.jpg');
}
.accordion ul li:nth-child(4) {
  background-image: url('http://michael-ferry.com/assets/accordion4.jpg');
}
.accordion ul li:nth-child(5) {
  background-image: url('http://michael-ferry.com/assets/accordion5.jpg');
}
.accordion ul li:nth-child(6) {
  background-image: url('http://michael-ferry.com/assets/accordion6.jpg');
}
.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover, .accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 60%;
}
.accordion ul:hover li:hover a, .accordion ul li:focus a, .accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, .4);
}
.accordion ul:hover li:hover a *, .accordion ul li:focus a *, .accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.accordion ul:hover li {
  width: 8% !important;
}
.accordion ul:hover li a * {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 60% !important;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, .4);
}
.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 600px) {
 
  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul:hover li, .accordion ul li:hover, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}
.boody{
  background-color: rgba(1,1, 1, 0.9)
}
/*End of accordion*/


input[type='text'],input[type='email'],
textarea 
{
    font-family: Arial, FontAwesome;
    resize: none;
    width: auto;
}
.bttn{
  background-color: #15222B;
  color: rgb(197, 18, 18);

}

.fa-meh-o{
  color: black;
}
.fa-smile-o{
  color: rgb(23, 172, 23)
}


/*footer*/

section.footer button.btn-outline {
	padding: 8px 30px;
    font-size: 17px;
	font-weight:600;
    background-color:rgb(197, 18, 18);
    border-radius:5px;
    border:none;
	outline:none;
    margin-top: 20px;
	color:#fff;
	text-decoration:none;
}
section.footer button.btn-outline:hover {
	background-color:#ffb23e;
}
section.footer ul.social-icons {
	list-style:none;
}
section.footer ul.social-icons li {
	padding-bottom:10px;
}
section.footer ul.social-icons li a {
	text-decoration:none;
	font-size:16px;
	color:#fff;
}
section.footer ul.social-icons li a i.fa {
	font-size: 16px;
    line-height: 36px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    margin-right:17px;
    text-align: center;
	background-color:transparent;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
section.footer ul.social-icons li a i.fa:hover {
	background-color:rgb(197, 18, 18);
	border: 1px solid rgb(197, 18, 18);
	color:#fff;
}
section.footer ul.social-icons li a:hover {
	color:rgb(197, 18, 18);
} 
section.footer ul.nav-links {
	list-style:none;
}
section.footer ul.nav-links li {
	display:inline;
	margin-right:20px;
}
section.footer ul.nav-links li a {
	text-decoration:none;
	color:#fff;
	font-size:17px;
	font-weight:100;
	display:inline-block;
}
section.footer ul.nav-links li a:hover {
	color:rgb(197, 18, 18);
}
section.footer hr {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #626262;
}
section.footer p.copyright {
	color:#fff;
	font-size:15px;
	font-weight:100;
	text-align:center;
}
section.footer p.copyright a {
	color:rgb(197, 18, 18);
	text-decoration:none;
}
section.footer p.copyright a:hover {
	color:rgb(197, 18, 18);
}